name: Assignment 1 CI (Python)

on:
  push:
    branches: [ "main" ]
    paths:
      - 'assignment1/**'
      - '.github/workflows/assignment1-ci.yaml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'assignment1/**'
      - '.github/workflows/assignment1-ci.yaml'

jobs:
  test-python:
    name: Test Producer-Consumer
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./assignment1

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run Pytest
      run: |
        python -m pytest tests -v

